
@media (max-width: 600px) {
  html,
  body {
    width: 100vw !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
    position: relative;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    max-width: 100vw !important;
  }
}
html,
body {
  overflow-x: hidden;
}
/* Global styles for the site */

p {
  font-size: 1.25em;
}
